.outerHome {
  width: 100%;
  height: 100vh;
  display: flex;
}

.innerHome {
  margin: auto;
}

.homeTitulo {
  padding-top: 100px;
  font-size: 150px;
}

.buttonsHomediv {
  margin-top: 100px;
  background-color: grey;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: inset 0 0 25px #000000;
}
